nav .container .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
nav .container ul a {
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}
nav .container ul a:hover {
  color: var(--secondary-color);
}
nav .container ul li.active a {
  color: var(--primary-color);
  font-weight: 600;
}
nav .container .icon {
  cursor: pointer;
  font-size: 24px;
}
/* small screens */
nav .container .menu ul {
  padding: 30px 0px 40px;
}
nav .container .menu li {
  padding: 25px;
  transition: 0.5s;
}
nav .container .menu li .link-icon {
  display: none;
}
nav .container .menu li:hover {
  padding-left: 30px;
}
/* responsive */
@media (max-width: 500px) {
  nav .container .menu {
    width: fit-content;
  }
  nav .container .menu li:hover {
    padding-left: 25px;
  }
  nav .container .menu li .link-icon {
    display: block;
  }
  nav .container .menu li.active .link-icon {
    color: var(--primary-color);
  }
  nav .container .menu li a.text,
  nav .container .menu .theme p {
    display: none;
  }
}
